.custom-navbar {
    box-shadow: 0px 0px 3px 4px #6969694f;
    font-family: calibri;
    font-size: 17px;
}

.custom-navbar .custom-nav li a:active {
    color: green !important;
}

.custom-navbar .custom-nav li a {
    border-bottom: 2px solid white;
    transition-duration: .3s;
}

.custom-navbar .custom-nav li a:hover {
    color: #ec5b53 !important;
    transition-duration: .3s;
    border-bottom: 2px solid #ec5b53;
}

.navbar-toggler {
    border: 0px !important;
}

.main-content {
    border-bottom: 2px solid #ec5b53;
    background-image: url('../../images/yash.jpg'), url('../../images/banner.png');
    background-position: 87% bottom, left;
    background-repeat: no-repeat, no-repeat;
    background-size: 28%, auto;
    background-color: white;
    /* background-position: 85% 40% !important; */
}

.main-content .tagline {
    color: #ec5b53;
}

.main-content .title-name {
    font-family: cambria;
    color: #002d5b;
    font-size: 46px;
}

.custom-line-height {
    line-height: 2em;
}